<style>
    /* Links */
    a:hover {
        color: #096dd9;
    }

    /* Header Buttons on Startpage */
    a.btn {
        color: white;
        font-weight: bold;
        background-color: #faad14;
    }

    a.btn:hover {
        background-color: #096dd9;
    }

    /* Scroll Menu on Startpage */
    a.fn-item {
        color: #ad6800;
    }

    a.fn-item.active {
        color: #faad14;
    }

    a.fn-item:hover {
        color: #faad14;
    }

    /* Content / Sections */
    .post-holder.odd {
        background: #003a8c;
        color: white;
    }

    .post-holder {
        background: #f2efe8;
    }

    body {
        color: #3A4145;
    }

    /* Footer */
    .site-footer {
        color: #bfbfbf;
        background-color: #262626;
    }
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->